{% extends 'base.html' %}

{% block content %}
  <div class="over_table">
    <h1 class="text-center">Welcome to the 2017 NFL DraftCast</h1> <br>
    <h4 class="text-center">Round:
      <a class="round_number" href="{% url 'round_view' 1 %}">1</a> |
      <a class="round_number" href="{% url 'round_view' 2 %}">2</a> |
      <a class="round_number" href="{% url 'round_view' 3 %}">3</a> |
      <a class="round_number" href="{% url 'round_view' 4 %}">4</a> |
      <a class="round_number" href="{% url 'round_view' 5 %}">5</a> |
      <a class="round_number" href="{% url 'round_view' 6 %}">6</a> |
      <a class="round_number" href="{% url 'round_view' 7 %}">7</a> | </h4><br>
    <br>
    <h3 class="text-center">Live Draft</h3>
  </div>
  {% autoescape off %}
    <table class="table table-striped">
      <tr>
        {{ draftee }}
      </tr>
    </table>
  {% endautoescape %}
{% endblock %}

{% block js %}
<script type="text/javascript">
  // Refreshes every 5 minutes
  setTimeout(function(){
    window.location.reload(1);
  }, 300000);
</script>
{% endblock %}
